# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime & PID data
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Build outputs & coverage
dist/
dist-ssr/
coverage/
.nyc_output/

# Caches
.npm
.eslintcache
.node_repl_history
.rpt2_cache*/
build/Release

# Archived packages
*.tgz
.yarn-integrity

# Env/secrets
.env*
.npmignore

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
